################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FileSizeDetector/bin/Debug/net6.0-windows
/FileSizeDetector/obj/Debug/net6.0-windows
/FileSizeDetector/obj
*.user
